<div id="gazete" class="left">
  <object style="width:100%;height:100%;" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" >
    <param name="movie" value="http://static.issuu.com/webembed/viewers/style1/v1/IssuuViewer.swf?mode=embed&amp;<%= @layout %>&amp;proSidebarEnabled=true&amp;username=arkapencere&amp;backgroundColor=%23222222&amp;documentId=<%= @documentId %>" />
    <param name="allowfullscreen" value="true"/>
    <param name="menu" value="false"/>
    <param name="wmode" value="transparent"/>
    <embed 
      src="http://static.issuu.com/webembed/viewers/style1/v1/IssuuViewer.swf" 
      type="application/x-shockwave-flash" 
      allowfullscreen="true" 
      menu="false" 
      wmode="transparent" 
      style="width:100%;height:100%" 
      flashvars="mode=embed&amp;<%= @layout %>&amp;proSidebarEnabled=true&amp;backgroundColor=%23222222&amp;username=arkapencere&amp;documentId=<%= @documentId %>" />
  </object>

</div>
  <div class="right">
    <div class="padding-buttom">
      <%= link_to '/' do %>
        <%= image_tag 'logo-300x300.png' , widt:'20' , height:'20' %> <span>Ana Sayfa</span>
      <% end -%>
    </div>
  <div>

    <%= link_to static_path( :gazete , id:'120724210901-37aa80eff1804cc08820e43ecdc4876a' ) , 'original-title' => render( 'tool_tip_01' )  do %>
      <%= image_tag 'titles/avgun_00.png' , class:'overview' %>
      <br>Sayı: 001
    <% end -%>

  </div>
</div>

